---
apiVersion: v1
kind: Pod
metadata:
  name: client
  namespace: default
  labels:
    app: webclient
spec:
  containers:
  - name: webclient
    image: lbsim25/webclient:v1
    ports:
    - containerPort: 8080
      name: http
    env:
    - name: ODJ_EE_HTTP_PORT
      value: "8080"
    - name: ODJ_DEP_REQUEST_INTERVAL
      value: "1000" # in millisecs
    - name: ODJ_DEP_REQUEST_COUNT
      value: "1" # requests per interval
    - name: ODJ_DEP_MODE
      value: "unknown-strategie"  # TODO: define LB strategie for metrics
    - name: ODJ_DEP_TARGET_URL
      value: "http://webserver-service.default.svc.cluster.local:8080/api/load" # TODO: change to path of webserver or loadbalancer
    livenessProbe:
      httpGet:
        path: /live
        port: http
      initialDelaySeconds: 5
      periodSeconds: 10
    readinessProbe:
      httpGet:
        path: /ready
        port: http
      initialDelaySeconds: 5
      periodSeconds: 10
    resources:
      requests:
        cpu: "100m"
        memory: "100M"
      limits:
        cpu: "200m"
        memory: "200M"
